/* --------------------------------

This file includes the styles for the index.html file

-------------------------------- */

.main-container {
    min-height: 100%;
    padding-top: 70px;
    padding-left: 60px;
}

/* --------------------------- Header -------------------------- */

.header .logo {
    height: 130px;
}

.header .logo img {
    max-width: 200px;
}

/* --------------------------- Content ------------------------- */

.content {
    display: flex;
    padding-bottom: 30px;
}

.content .mockup-container img {
    width: 650px;
}

.description {
    width: 600px;
    margin-left: 100px;
}

.description h1 {
    width: 100%;
    max-width: 480px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: var(--poppins);
    font-size: 42px;
    color: #FFFFFF;
}

.description p {
    width: 100%;
    max-width: 504px;
    margin-bottom: 30px;
    font-family: var(--open-sans);
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.7;
}

.description .btn-container button {
    width: 180px;
    margin-bottom: 60px;
    padding: 14px 38px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 25px;
    box-shadow: rgb(0 0 0 / 29%) 0px 3px 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.description .btn-container button:hover {
    background-color: var(--secondary-color);
}

.description .btn-container button a {
    font-family: var(--poppins);
    font-size: 17px;
    color: var(--primary-color);
    text-decoration: none;
}

.description .social-icons {
    width: 100%;
    max-width: 504px;
    margin-top: 98px;
}

.description .social-icons ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding-left: 0;
    list-style: none;
    gap: 20px;
}

.description .social-icons ul li {
    cursor: pointer;
}

.description .social-icons ul li a img:hover {
    filter: invert(80%);
}

/* ----------------------------- Footer ----------------------------- */

footer {
    display: flex;
    align-items: center;
    height: 30px;
}

footer p {
    margin: 0;
    font-family: var(--poppins);
    font-size: 14px;
    color: #FFFFFF;
}

footer p a {
    color: var(--secondary-color);
    text-decoration: none;
}
